# APNs
DEVICE_TOKEN='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
VOIP_DEVICE_TOKEN='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
APNS_AUTH_KEY_FILE_PATH="apns-auth-key.p8"
APNS_AUTH_KEY_ID='XXXXXXXXXX'
TEAM_ID='XXXXXXXXXX'
BUNDLE_ID='com.example.app'
USE_SANDBOX=0

# FCM
SERVICE_ACCOUNT_KEY_JSON_FILE_PATH='firebase-admin_service-account-key.json'
REGISTRATION_TOKEN='xxxxxxxxxx'
